<article class="post type-post status-publish format-standard hentry">
  <header class="entry-header">
    <h1 class="entry-title">
      <a href="{{.post.Urlname}}">{{.post.Title}}</a>
    </h1>
    <div class="entry-meta">
      <time class="entry-date" datetime="{{.post.Posttime}}" pubdate>{{date .post.Posttime "M j"}}<span>th</span>, {{date .post.Posttime "Y"}}</time> /
      {{str2html .tagslink}}
    </div><!-- .entry-meta -->
  </header><!-- .entry-header -->

  <div class="entry-content">
    {{str2html .post.Content}}
  </div>
</article>
